.projectDropSection{
    /* height: 100px; */
    width: 100%;
    margin: 10px;
    background-color: var(--drop-section-back);
    border-radius: 15px;
    padding: calc(var(--outside-padding) / 4);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 35vh;
    max-height: 80vh;
    overflow-x: scroll;
    /* scrollbar-width: none; */

}


.projectDropSection::-webkit-scrollbar {
  /* width: 6px;
  background-color: #F5F5F5;  */
  display: none;
}

/* .projectDropSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-color); } */

.projectDropSection > div{
    margin-bottom: 15px;
}

.projectSectionDetailsContainer{
    display: flex;
    justify-content: flex-start;
}

.sectionHeadingContainer h4{
    margin: 0;
}

.taskCountContainer{
    margin-left: auto;
    background-color: var(--drop-section-text-back);
    padding: 3px;
    color: var(--blue-color);
    border-radius: 5px;
}


.addButtonContainer button{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--drop-section-text-back);
    padding: 5px 0;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
}





.taskContainer{
    background-color: white;
    border-radius: 10px;
    padding: calc(var(--outside-padding) / 4);    
}

.taskContainer:active{
    cursor: grabbing;
}


.taskContainer .headingAndButtonsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




.taskContainer .headingAndButtonsContainer h5{
    font-size: 1.2em;
    margin: 0;
    display: flex;
    align-items: center;
}



.headingAndButtonsContainer .modifyButtons{
    margin-left: auto;
}


.headingAndButtonsContainer .modifyButtons button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;

}

.modifyButtons .modifyButtonIcons{
    font-size: 1.3rem;
    color: #555;
    transition: 0.2s all ease-in-out;
}

.modifyButtons .modifyButtonIcons:hover{
    color: black;
}

.taskContainer .headingDot{    
    font-size: 0.4rem;
    vertical-align: middle;
    margin-right: 5px;
}

.taskContainer .taskDescriptionText{
    color: #555;
}


.taskContainer .taskProjectText{
    color: grey;
    font-style: italic;
    text-align: end;
    font-size: 0.8em;
}