.projectSectionContainer{
    --heading-color: rgb(28, 28, 28);
    --drop-section-back: rgb(243, 248, 247);
    --drop-section-text-back: rgb(234, 243, 241);


}

.headingSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.headingContainer h2{
    margin: 0;
    color: var(--heading-color);
}

.filterContainer{
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    color: var(--heading-color);
}

.filterContainer h3{
    display: inline-block;
    margin: 0;
}

.dropperSectionContainer{
    display: flex;
    width: 100%;
    height: 200px;
    margin: 20px 0;
    
}



