:root{
  --outside-padding: 60px;
}

body{
  background-color: rgb(229, 236, 234);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



/* =====================SIDE BAR======================= */

.sideBar{
  width: 25%;
  box-sizing: border-box;
  height: 100vh;
  background-color: white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: var(--outside-padding);
}


/* Logo */
.logoContainer p{
  margin: 0;
}





.logoLink:link{
  color: black;
  font-size: 1.3em;
  /* text-transform: uppercase; */
  text-decoration: none;  
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.logoLink:visited{
  color: black;
}



.logoLink::after{
  display: block;
  content: '';
  background-color: rgb(255, 147, 0);
  height: 6px;
  position: absolute;
  left: 0;
  width: 20%;
  margin-top: 5px;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}


.logoLink:hover::after{
  width: 40%;
}


/* Navigation Menu */


.menuList{
  margin-top: 50px;
  list-style-type: none;
  padding-left: 0;
}

.menuItem{
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.menuIcon{
  margin-right: 20px;
}