:root{
  --outside-padding: 60px;
  --blue-color: rgb(69, 153 ,136);
}

body{
  background-color: rgb(229, 236, 234);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



/* =====================SIDE BAR======================= */

.sideBar{
  width: 25%;
  box-sizing: border-box;
  height: 100vh;
  background-color: white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: var(--outside-padding);
  padding-right: 0;
}


/* Logo */
.logoContainer p{
  margin: 0;
}





.logoLink:link{
  color: black;
  font-size: 1.3em;
  /* text-transform: uppercase; */
  text-decoration: none;  
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.logoLink:visited{
  color: black;
}



.logoLink::after{
  display: block;
  content: '';
  background-color: var(--blue-color);
  height: 6px;
  position: absolute;
  left: 0;
  width: 20%;
  margin-top: 5px;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}


.logoLink:hover::after{
  width: 40%;
}


/* Navigation Menu */

.menuContainer{
  margin-top: 70px;
}


.menuList{
  
  list-style-type: none;
  padding-left: 0;
}

.menuItem{
  font-size: 1.2em;
  font-weight: 400;
  margin: 30px auto;  
  display: flex;
  align-items: center;
  
  position: relative;
  
  
}



.menuIcon{
  margin-right: 20px;
}

.menuItemActive::after{
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  content: ' ';
  background-color: var(--blue-color);
  border-radius: 5px;
}

.bottomMenu{
  margin-top: 200px;
}